@media (max-width:1150px) and (min-width:851px) {
    .form-preview__item {
        flex: 0 0 31%;
        overflow: hidden;
        width: 283px;
    }
}

@media (max-width:850px) and (min-width:601px) {
    .bascet-item__title {
        text-align: center;
    }
    .bascet-content__item__wrap {
        margin: 0 auto;
        flex: 0 0 20%;
    }
    .bascet-content {
        max-height: 100%;
    }
    .tabs-wrap {
        width: 594px;
        margin: 0 auto;
    }
    .form-preview__item {
        flex: 0 0 50%;
        overflow: hidden;
    }
    .form-desc__wrap {
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }
    .form-desc__item span:nth-child(1) {
        padding-top: 2px;
    }
    .form-preview__item .price-text__sale {
        margin-left: 17px;
    }
    .fixed {
        position: fixed;
        bottom: 0;
        height: 132px;
        z-index: 1;
        left: calc(-50vw + 50%);
        right: calc(-50vw + 50%);
        box-shadow: 2px -2px 6px 0px #6c7279;
    }
}

@media (max-width:600px) and (min-width:280px) {
    .bascet-container {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 0 10px;
    }
    .bascet-content {
        max-height: 100%;
        height: auto;
    }
    .form-product {
        justify-content: center;
    }
    .bascet-item__title {
        flex: 0 0 50%;
        order: 2;
        border: 0;
    }
    .bascet-content__item__wrap {
        order: 1;
        height: auto;
        position: relative;
        margin-bottom: 1rem;
    }
    .tabs-wrap {
        order: 3;
    }
    .bascet-content__inner {
        position: absolute;
        right: -77%;
        top: 65%;
    }
    .delete-product {
        position: absolute;
        right: -150%;
        top: 69%;
        width: min-content;
    }
    .tabs {
        flex-direction: column;
    }
    .price-text__sale {
        width: 150px;
        white-space: nowrap;
    }
    .price-text__dotted {
        flex: 0 0 50%;
    }
    .tabs-item {
        height: auto;
    }
    .tabs-item:nth-child(2) .price-text__item {
        flex-direction: column;
        position: relative;
    }
    .check-usl label {
        display: flex;
        position: absolute;
        right: 3px;
        top: 23px
    }
    .price-usl {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-user {
        height: 100%;
        padding: 20px 0;
    }
    .form-user__item:nth-child(1),
    .form-user__item:nth-child(3) {
        margin-right: 0;
    }
    .form-user__item {
        flex: 0 0 80%;
    }
    .form-user__item input {
        width: 100%;
    }
    .form-user__item:nth-child(3) {
        margin-bottom: 20px;
    }
    .form-user__item:nth-child(4) {
        margin-bottom: 40px;
    }
    .form-delivery {
        padding-top: 40px;
        height: 100%;
        padding-bottom: 65px;
    }
    .form-delivery__item {
        width: 86%;
    }
    .form-delivery__content,
    .form-delivery__inner:nth-child(4) .form-delivery__content {
        flex: 0 0 100%;
    }
    .form-comments__inner {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
    .form-comments__item button {
        flex: 0 0 220px;
        margin: 0 auto;
    }
    .form-payment__wrap {
        margin: 40px auto 60px;
    }
    .form-preview {
        display: flex;
        justify-content: space-between;
        background: #f9f9fa;
        border: 0;
        height: 100%;
        margin-top: 6px;
        align-items: center;
        position: static;
        flex-direction: column;
        padding: 20px 0;
        flex-wrap: nowrap;
    }
    .form-preview__item:nth-child(2) {
        margin: 0px auto;
        order: 3;
    }
    .form-desc__wrap {
        justify-content: center;
        order: 2;
        margin: 15px auto;
    }
    .form-desc__item {
        width: 50%;
    }
    .form-preview__inner {
        margin: 0;
    }
    .form-preview__inner .price-text__sale {
        width: 40%;
    }
    .form-preview__inner:nth-child(1)::after {
        content: '............................................................................................';
        width: 100%;
        bottom: -10px;
        position: absolute;
        font-size: x-small;
        letter-spacing: 1px;
        left: -30px;
    }
    .form-comments__wrap {
        margin: 40px auto 40px;
    }
    .offer {
        width: 90%;
    }
    .button-plus::before {
        content: "+";
        width: 50%;
        height: 50%;
        position: absolute;
        font-size: 20px;
        font-weight: 900;
        color: var(--color-text-white);
        top: calc(50% - 50%);
        left: 20%;
    }
    .fixed {
        position: fixed;
        bottom: 9px;
        height: 204px;
        z-index: 1;
        left: calc(-50vw + 50%);
        right: calc(-50vw + 50%);
        box-shadow: 2px -2px 6px 0px #6c7279;
    }
}